<!DOCTYPE html>
<html lang="en">
  <head class="homeHead">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Client Multiplayer Game</title>
    <link rel="stylesheet" href="./static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
    />
  </head>
  <body class="homeBody">
    <header class="homeHeader">
      <a class="logo" href="/"
        ><img src="../static/images/SpaceShip.png" width="100" height="100"
      /></a>

      <nav class="navigation">
        <a href="/game" class="nav-link active">Game</a>
        <a href="/h2" class="nav-link active">Information</a>
        <a href="/h3" class="nav-link active">About Us</a>
        <a href="/h4" class="nav-link active">Contact Us</a>
      </nav>
    </header>

    <div class="home-container" style="margin-top: 3%;">
      <div class="home-content">
        <h2 class="home-logo"><i class='bx bx-chevrons-right' style="margin-bottom: 10px;"></i>Server-Client Multiplayer Game</h2>
  
        <div class="home-text-sci">
          <h2>Welcome!<br /><span>To Our Web Application.</span></h2>
          <p>
            [ Beginner's Project on the Server-Client Model ]
          </p>
  
          <div class="home-social-icons">
            <a href="https://www.facebook.com/" target="_blank"
              ><i class="bx bxl-facebook"></i
            ></a>
  
            <a href="https://www.instagram.com/" target="_blank"
              ><i class="bx bxl-instagram"></i
            ></a>
  
            <a href="https://twitter.com/" target="_blank"
              ><i class="bx bxl-twitter"></i
            ></a>
  
            <a href="https://www.tiktok.com/" target="_blank"
              ><i class="bx bxl-tiktok"></i
            ></a>
          </div>
        </div>
      </div>
  </body>
</html>